# Import the libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as pls

# Read the data

In [9]:
df = pd.read_csv('athlete_events.csv')
df.head(1)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN

# Don't forget to drop the duplicates first

In [5]:
df = df.drop_duplicates()

In [6]:
df.duplicated().sum()

0

# **Beginner level**

# Find the missing data in each column

In [7]:
df.isnull().sum()

ID             0
Name           0
Sex            0
Age         9315
Height     58814
Weight     61527
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     229959
dtype: int64

# Number of males and females

In [10]:
df['Sex'].value_counts()

M    196594
F     74522
Name: Sex, dtype: int64

# How many cities do we have and what are they?

In [13]:
df['City'].nunique(), df['City'].unique()

(42,
 array(['Barcelona', 'London', 'Antwerpen', 'Paris', 'Calgary',
        'Albertville', 'Lillehammer', 'Los Angeles', 'Salt Lake City',
        'Helsinki', 'Lake Placid', 'Sydney', 'Atlanta', 'Stockholm',
        'Sochi', 'Nagano', 'Torino', 'Beijing', 'Rio de Janeiro', 'Athina',
        'Squaw Valley', 'Innsbruck', 'Sarajevo', 'Mexico City', 'Munich',
        'Seoul', 'Berlin', 'Oslo', "Cortina d'Ampezzo", 'Melbourne',
        'Roma', 'Amsterdam', 'Montreal', 'Moskva', 'Tokyo', 'Vancouver',
        'Grenoble', 'Sapporo', 'Chamonix', 'St. Louis', 'Sankt Moritz',
        'Garmisch-Partenkirchen'], dtype=object))

# **Intermediate level**

# Find the number of athlete for each year

In [15]:
df.groupby(['Year'])['ID'].nunique()

Year
1896      176
1900     1224
1904      650
1906      841
1908     2024
1912     2409
1920     2676
1924     3565
1928     3703
1932     2174
1936     5142
1948     5068
1952     5622
1956     4167
1960     6017
1964     6230
1968     6717
1972     8122
1976     7200
1980     6330
1984     8067
1988     9873
1992    11183
1994     1738
1996    10339
1998     2179
2000    10647
2002     2399
2004    10557
2006     2494
2008    10899
2010     2536
2012    10517
2014     2745
2016    11179
Name: ID, dtype: int64

# Which athlete participated the most ? (his/her name and ID)

In [22]:
id = df['ID'].value_counts().idxmax()
name = df[df['ID'] == id]['Name'].unique()[0]
id, name

(77710, 'Robert Tait McKenzie')